.home{
    color: #D7B359;
}

.cake{
  text-align: center;
}

.box{
  text-align: center;
  color: rgb(245, 72, 60);
  background-image: url("img/MicrosoftTeams-image\ \(2\).png");
  background-repeat:no-repeat ;
background-position: center;
  background-size: 66ch;
}
.bar{
  background: rgb(253, 244, 244);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(215,179,89,1) 29%, rgba(209,150,74,1) 88%);
}

body{
  background-color: rgb(253, 244, 244);
}

.footer{
  background-color: #e6cc96;
}

.profile-menu { 
 
    right: 0;
    left: unset;
  }
  .fa-fw{
    margin-right: 10px;
  }  

.toggle-change{
   
    border-top: 0;
    border-bottom: .3em solid;
    }

.gradient{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(215,179,89,1) 29%, rgba(209,150,74,1) 88%);
}



.gallery img{

 
  border-radius: 5%;
  
   
  }

