.home{
    color: #D7B359;
}



.box{
  background-image: url("img/menu.PNG");
  background-repeat: no-repeat;
  background-position: center;
  
  height: 200px;
  width: 600px;
  margin: 150px auto;
}
.bar{
  background-color: #D7B359;
}

}

.profile-menu { 
 
    right: 0;
    left: unset;
  }
  .fa-fw{
    margin-right: 10px;
  }  

.toggle-change{
   
    border-top: 0;
    border-bottom: .3em solid;
    }


    